@use "theme" as *;

main.contact {
  @include idealWidth;
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  gap: 32px;

  form {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 8px;

    .input-wrapper {
      // height of each input wrapper
      --row-height: 60px;
      // size of gap
      --gap-width: 8px;
      height: var(--row-height);
      // default width
      width: 100%;
    }
    // first two inputs are half width
    .input-wrapper:nth-of-type(1),
    .input-wrapper:nth-of-type(2){
      width: calc(50% - var(--gap-width) / 2);
    }
    // forth input fill avaiable height
    .input-wrapper:nth-of-type(4) {
      height: calc(450px - 3 * (var(--gap-width) + var(--row-height)));
    }

    .input-wrapper {
      display: flex;
      flex-direction: column;
      input,textarea {
        height: 100%;
        width: 100%;
        border: 2px solid $light-gray;
        padding: 4px 8px;
        outline: none;
        resize: none;
      }
      a {
        width: 128px;
        margin-top: auto;
      }
    }
  }

  .map {
    position: relative;
    height: 450px;
    flex: 1;
    overflow: hidden;
    @include boxShadow;
    border-radius: 4px;
    iframe {
      position: absolute;
      height: calc(450px + 62px);
      width: 100%;
      bottom: 0;
    }
  }
}
