@use "theme" as *;

main.contact {
  @include idealWidth;
  padding-block: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;

  form {
    height: 450px;
    min-width: min(450px , 100%);
    max-width: 600px;
    flex: 1 0;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 8px;

    .input-wrapper {
      // height of each input wrapper
      --row-height: 48px;
      // size of gap
      --gap-width: 8px;
      // default width and height
      width: 100%;
      height: var(--row-height);
    }
    // first two inputs are half width
    .input-wrapper:nth-of-type(1),
    .input-wrapper:nth-of-type(2){
      width: calc(50% - var(--gap-width) / 2);
    }
    // forth input fill avaiable height
    .input-wrapper:nth-of-type(4) {
      width: 100%;
      height: calc(450px - 3 * (var(--gap-width) + var(--row-height)));
    }

    .input-wrapper {
      display: flex;
      flex-direction: column;
      input,textarea {
        height: 100%;
        width: 100%;
        font-size: medium;
        border: 2px solid $light-gray;
        border-radius: 4px;
        padding: 4px 8px;
        outline: none;
        resize: none;
      }
      a {
        width: 128px;
        margin-top: auto;
      }
    }
  }

  #map {
    height: 450px;
    min-width: min(450px , 100%);
    max-width: 600px;
    flex: 1 0;

    position: relative;
    overflow: hidden;
    @include boxShadow;
    border-radius: 4px;
    iframe {
      position: absolute;
      height: calc(450px + 62px);
      width: 100%;
      bottom: 0;
    }
  }
}
