@use "theme" as *;

header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: $white;
  @include boxShadow;
  .bar {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include idealWidth;

    .brand {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      p {
        font-size: 32px;
        font-weight: 300;
      }
    }

    .panel {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
    }
  }

  nav {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    background-color: $blue;
    a {
      color: $white;
      font-size: large;
    }
  }
}
