@use "../sass/theme.scss" as *;

.card {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  img {
    @include boxShadow;
    border-radius: 4px;
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
  }
  p {
    position: absolute;
    inset: 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: $white;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.2) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      rgba(0, 0, 0, 0.0) 100%
    );
  }
}
