@use "../sass/theme.scss" as *;

.button {
  @include boxShadow;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  border-radius: 128px;
  cursor: pointer;
  p {
    color: $white;
  }
  img {
    rotate: -90deg;
  }
  &.small {
    padding: 6px 16px;
  }
  &.regular {
    padding: 8px 24px;
  }
  &.big {
    padding: 16px 32px;
  }
}
