@use "../sass/theme.scss" as *;

.thumbnail {
  @include boxShadow;
  background-image: linear-gradient(
      120deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("/hero-image.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  h1 {
    color: $white;
    text-align: center;
  }
}
